<h2>top page</h2>
<% if user_signed_in? %>
  <%= current_user.name %>
  <%= link_to 'ログアウト', destroy_user_session_path, mothod: :DELETE, data: {confirm: "ログアウトしますか？"} %>
<% else %>
  <%= link_to '新規登録', new_user_registration_path %>
  <%= link_to 'ログイン', new_user_session_path %>
<% end %>

<% if @record.day != nil %>
  <%= @record1.day %>
<% end %>

  

<div id="clock"></div>

<%= form_with model: @record,local: true do |f| %>
  <%= f.text_field :day, id:"begin-day"%>
  <%= f.text_field :begin, id:"begin" %>
  <%= f.submit "出勤" %>
<% end %>

<%= form_with model: @record,local: true do |f| %>
  <%= f.text_field :day, id:"finish-day"%>
  <%= f.text_field :finish, id:"finish" %><br />
  <%= f.label :break, "休憩時間" %>
  <%= f.text_field :break, value: 0 %>
  <%= f.submit "退勤" %>
<% end %>

